.header__lang-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-decoration: none;
    color: white;
    padding-right: 18px;
}
.header__lang-link:last-child{
    padding-right: 0;
}

@media screen and (max-width: 576px) {
    .header__lang-link {
        font-size: 24px;
        line-height: 20px;
    }
  }
  

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
  }
  