.intro{
    display: flex;
    margin-top: 92px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 148px;
}

@media screen and (max-width: 1200px) {
    .intro {
        margin-left: 90px;
    }
  }



@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
  }


@media screen and (max-width: 768px) {
    .intro {
        margin-top: 88px;
        margin-left: 24px;
        margin-right: 24px;

    }
  }

@media screen and (max-width: 321px) {
    .intro {
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }
  }
  