.place__link {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .place__link{
        padding-left: 16px;
        

    }
}