.cover__title {
    z-index: 2;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    margin: 0;
    padding-bottom: 32px;
}



@media screen and (max-width: 688px) {
    .cover__title{
        max-width: 288px;
       font-size: 32px;
        line-height: 35px;
    }
  }
  @media screen and (max-width:  576px) {
    .cover__title{
        max-width: 250px;
        padding-bottom: 16px;
  }
}
