.footer{
    display: flex;
    margin: 0px auto 24px;
    max-width: 1184px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 0px auto 24px;
        max-width: 928px;
    }
  }
  @media screen and (max-width: 768px) {
    .footer {
      max-width: 720px;
      
    }
  }
  

@media screen and (max-width: 688px) {
    .footer{
        max-width: 720px;
        
    }
  }


  @media screen and (max-width:  576px) {
    .footer{
      max-width: 186px;
      flex-direction: column;
      margin-left: 16px;
      
  }
}

  @media screen and (max-width: 320px) {
    .footer {
      max-width: 186px;
      flex-direction: column;
      margin-left: 16px;
     
     
    }
  }
  