.place__url-heading {
    margin: 0;
    padding-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    
}
@media screen and (max-width: 767px) {
    .place__url-heading{
        padding-left: 16px;
        

    }
}